<!DOCTYPE html>
<html>
<head>
	<title><%= appName %></title>
	<meta name="viewport" content="width=device-width">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/brainjs/css/brainjs.css">
	<link rel="stylesheet" type="text/css" href="/breizbot.css">
	<script src="/brainjs/brainjs.js"></script>
	<script src="/breizbot.js"></script>
	<script src="/webapps/<%= appName %>/app.js"></script>

    <% styles.forEach(function(style) {%>
        <link rel="stylesheet" type="text/css" href="<%= style %>">
    <%}) %>  	

    <% scripts.forEach(function(script) {%>
        <script src="<%= script %>"></script>
    <%}) %>      
</head>

<style type="text/css">
html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}
	
body {
	display: flex;
	flex-direction: column;
}



</style>

<script>
	$(function() {
		$.getJSON('/api/appData').then((data) => {
			console.log('appData', data)
			$$.service.configureService('breizbot.params', '<%- params %>')
			$$.service.configureService('breizbot.appData', data)
			
			$$.viewController('body')			
		})
		.catch((e) => {
			console.error('Error', e)
		})

	})

</script>

<body>
	<div bn-control="brainjs.pager" data-root-page="rootPage"  style="flex: 1; overflow: hidden;" class="breizbotPager"></div>
</body>

</html>